absl-py==1.4.0
accelerate==0.32.1
aiohttp==3.8.6
aiosignal==1.3.1
altair==5.1.2

annotated-types==0.5.0
appdirs==1.4.4

astunparse==1.6.3
async-timeout==4.0.3
atomicwrites==1.4.0
attrs==23.2.0
audioread==3.0.1
autoclean==1.0.2

backports.weakref==1.0.post1

beautifulsoup4==4.12.3

bitsandbytes==0.43.1

blinker==1.7.0
blis==0.7.11

boto3==1.34.122
botocore==1.34.122

Brotli==1.1.0
brotlipy==0.7.0
cachetools==5.3.1
catalogue==1.0.2

cloudpathlib==0.15.1
cloudpickle==2.2.1




Deprecated==1.2.14

dill==0.3.7
dirtyjson==1.0.8

distro==1.9.0
docker==7.1.0

einops==0.8.0

et-xmlfile==1.1.0
exceptiongroup==1.1.3

faiss-cpu==1.8.0.post1

feature-engine==1.6.1
feedfinder2==0.0.4
feedparser==6.0.10

flatbuffers==23.5.26

fonttools==4.25.0
frozenlist==1.4.0
fsspec==2023.10.0

gast==0.4.0

gitdb==4.0.11
GitPython==3.1.40

google-ai-generativelanguage==0.6.4
google-api-core==2.19.1
google-api-python-client==2.137.0
google-auth==2.23.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.0.0
google-generativeai==0.5.4
google-pasta==0.2.0
googleapis-common-protos==1.63.2
goose3==3.1.17

grpcio==1.64.1
grpcio-status==1.62.2
h11==0.14.0

html5lib==1.1
httpcore==1.0.5
httplib2==0.22.0
httpx==0.27.0
huggingface-hub==0.23.4

imgaug==0.4.0

importlib-resources==6.0.0

inflate64==0.3.1
inflection==0.5.1

jieba3k==0.35.1

jsonpatch==1.33
jsonpointer==2.1

keras==2.13.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2

langchain==0.0.335
langcodes==3.3.0
langdetect==1.0.9
langsmith==0.0.64

lazy_loader==0.4

libclang==16.0.6
librosa==0.10.2.post1
llama-cloud==0.0.9
llama-index==0.10.59
llama-index-agent-openai==0.2.8
llama-index-cli==0.1.12
llama-index-core==0.10.59
llama-index-embeddings-openai==0.1.10
llama-index-indices-managed-llama-cloud==0.2.5
llama-index-legacy==0.9.48
llama-index-llms-gemini==0.1.11
llama-index-llms-openai==0.1.27
llama-index-multi-modal-llms-openai==0.1.7
llama-index-program-openai==0.1.6
llama-index-question-gen-openai==0.1.3
llama-index-readers-file==0.1.30
llama-index-readers-llama-parse==0.1.6
llama-parse==0.4.6


loguru==0.7.2

markdown-it-py==3.0.0

marshmallow==3.20.1

mdurl==0.1.2
MechanicalSoup==1.3.0

mkl-fft==1.3.1

mkl-service==2.4.0

more-itertools==10.1.0
mpmath==1.2.1

multidict==6.0.4

multiprocess==0.70.15
multivolumefile==0.2.3
munkres==1.1.4
murmurhash==1.0.10
mypy-extensions==0.4.3
navigator-updater==0.3.0

nest-asyncio==1.6.0
networkx==3.3
newspaper3k==0.2.8
nltk==3.8.1

oauthlib==3.2.2
openai==1.35.13
opencv-python==4.9.0.80
openpyxl==3.0.10
opt-einsum==3.3.0
outcome==1.2.0


pathos==0.3.1

pathy==0.10.2
patsy==0.5.3
pep8==1.7.1

pillow==10.4.0

plac==1.1.3

ply==3.11

pox==0.3.3

ppft==1.7.6.7
preshed==3.0.9

proto-plus==1.24.0
protobuf==4.24.3

py-AutoClean==1.1.3
py7zr==0.20.6
pyahocorasick==2.0.0
pyarrow==14.0.0

pyasn1-modules==0.2.8
PyAudio==0.2.14
pybcj==1.0.1

pycryptodomex==3.19.0

pycurl==7.45.1
pydantic==2.4.2
pydantic_core==2.10.1
pydeck==0.8.1b0
PyDispatcher==2.0.5

pydub==0.25.1

Pygments==2.16.1

pyls-spyder==0.4.0
PyMySQL==1.1.0

pypdf==4.2.0
pypey==3.0.2
pypickle==1.1.0
pyppmd==1.0.0
PyQt5==5.15.7

PyQtWebEngine==5.15.4

pytest==7.1.2

python-dotenv==1.0.0

python-lsp-jsonrpc==1.0.0

python-version==0.0.2

pywin32==305.1

PyYAML==6.0.1

pyzstd==0.15.9

queuelib==1.5.0

requests==2.32.3

requests-oauthlib==1.3.1

rich==13.6.0

rouge==1.0.1
rsa==4.9


s3transfer==0.10.1
safetensors==0.4.3
sagemaker==2.222.0
scatterd==1.3.7
schedule==1.2.2
schema==0.7.7

scikit-learn-intelex==20230228.214818
scipy==1.10.0

selenium==4.14.0

sentence-transformers==3.0.1
sentencepiece==0.1.99

sgmllib3k==1.0.0
shapely==2.0.4
sidetable==0.9.1

smdebug-rulesconfig==1.0.1
smmap==5.0.1

soundfile==0.12.1

soxr==0.3.7
spacy==3.7.0
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SpeechRecognition==3.10.4

SQLAlchemy==2.0.31
srsly==1.0.7

streamlit==1.28.1
striprtf==0.0.26
summarizer==0.0.7
sweetviz==2.1.4

tables==3.7.0

TBB==0.2

tenacity==8.2.3
tensorboard==2.13.0
tensorboard-data-server==0.7.1
tensorflow==2.13.0
tensorflow-estimator==2.13.0
tensorflow-intel==2.13.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.3.0

textblob==0.17.1

texttable==1.7.0
thinc==7.4.6

tiktoken==0.7.0

tinysegmenter==0.3

tokenizers==0.19.1

torch==1.12.1

tqdm==4.66.4

transformers==4.42.4
trio==0.22.2
trio-websocket==0.11.1

typer==0.9.0
typing-inspect==0.9.0
typing_extensions==4.8.0
tzdata==2023.3
tzlocal==5.2


uritemplate==4.1.1

validators==0.22.0

wasabi==0.10.1

weasel==0.3.2
webdriver-manager==4.0.1
webencodings==0.5.1

win32-setctime==1.1.0
wincertstore==0.2

wsproto==1.2.0

XlsxWriter==3.2.0

xxhash==3.4.1

yarl==1.9.2
zict==2.1.0

zstandard==0.19.0
